<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
<div>
    <form action="editFile" method="post">
        <label>File Content:</label>
        <textarea id="content" cols="30" rows="30"></textarea>
        <input type="submit" value="Submit" />
    </form>
</div>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "/getFileInfo" + window.location.search,
            type: "GET",
            dataType: "json",
            success: function(data) {
                console.log(data);
                if(data.ok){
                    console.log(data.data)
                    $('#content').val(data.data)
                }else{
                    alert(data.err);
                }
            },
            error:function (err) {
                alert(err);
            }
        });
    })
</script>
</body>
</html>